main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: max(130px, 5vw);
  padding: 48px;
}

.site-map {
  width: 100%;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.site-map a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #0d2149;
}

.card {
  background: #d9d9d9;
  border-radius: 20px;
  padding: 20px;
  margin: 15px 0px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.payment-text h4,
.payment-text label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0d2149;
}

.payment-text h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ff6542;
}

.payment-text input {
  font-family: "Roboto", sans-serif;

  border: 2px solid #0d2149;
  border-radius: 10px;
  padding: 8px;
}

.payment-text input::placeholder {
  color: #787878;
}

.payment-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator-line {
  background-color: #ff6542;
  width: 100%;
  height: 2px;
  margin: 24px;
}

button,
.main-button {
  border: 2px solid #0d2149;
  border-radius: 10px;

  width: 100%;
  padding: 10px;

  cursor: pointer;
  font-family: "Roboto", sans-serif;

  transition: all 0.25s ease;
}

button:hover,
.main-button:hover {
  filter: opacity(0.8);
}

.main-button {
  background: #0d2149;
  color: #ff6542;

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  text-decoration: none;

  padding: 24px 100px;
}

.payment-select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.payment-select h4 {
  width: max-content;
}

.payment-select select {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: #0d2149;
  border: 0;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px 20px;
}

#payment-total {
  display: flex;
  flex-wrap: wrap;
}

#payment-total li {
  padding: 15px 0px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#payment-total h2,
#payment-total h4 {
  flex-grow: 1;
  flex-basis: 33%;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.payment-form {
  display: flex;
  flex-wrap: wrap;
}

.payment-field {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  gap: 5px;

  width: fit-content;
  padding: 5px 0px;
}

.payment-field input {
  flex-grow: 1;
  width: auto;
}

.payment-field div {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  gap: 5px;

  width: fit-content;
}

.payment-field input[name="rua"] {
  min-width: 30vw;
  flex-grow: 1;
  width: auto;
}

.payment-pix {
  display: flex;
  gap: 32px;
}

.payment-pix-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.payment-pix-text p {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;

  color: #0d2149;
}
