main {
  margin-top: calc(25vh + 12px);
  padding: 0 8vw;
  min-height: 55vh;
}

.site-map {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.site-map a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--primary-color);
}

.container {
  padding: 72px 42px;
  border-radius: 20px;
  background-color: var(--card-color);

  display: flex;
  flex-wrap: wrap;
  gap: 128px;
  justify-content: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--secondary-color);
}

.container h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.client-rating {
  display: flex;
  gap: 8px;
}

.client-rating p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.size-select {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: var(--primary-color);
}

.size-select label {
  margin-left: 4px;
}

.size-select select {
  border: 0;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: var(--primary-color);
}

.button-stack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
}

.plus-minus {
  width: 100px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.plus-minus button {
  width: 33px;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.plus-minus button:disabled {
  background: var(--disabled-color);
  cursor: not-allowed;
}

.plus-minus input[type="number"] {
  width: 34px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary-color);
  background-color: transparent;
  border: 0;
  text-align: center;
}

.plus-minus input[type="number"]::-webkit-outer-spin-button,
.plus-minus input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus-minus input[type="number"] {
  -moz-appearance: textfield;
}

#add-cart {
  width: 60%;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;

  color: var(--secondary-color);
  background-color: var(--primary-color);

  border-radius: 10px;
  padding: 12px;

  transition: all 0.25s ease;
  cursor: pointer;
}

#add-cart:hover {
  filter: opacity(0.8);
}

.info {
  margin-top: 80px;
}

.info h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  color: var(--primary-color);
}

.info ul {
  display: flex;
  flex-direction: column;
}

.info li {
  list-style-type: disc;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: var(--primary-color);
  cursor: auto;
  padding: 0;
  margin-left: 20px;
}

#info-title {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

@media screen and (max-width: 780px) {
  main {
    margin-top: max(270px, 12vw);
  }

  .container {
    gap: 10px;
    padding: 10px;
  }

  .product-image {
    width: 100%;
  }

  .button-stack {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}